.switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.switch.on {
    background-color: #5cb85c;
}

.switch.off {
    background-color: #d9534f;
}

#toggleButton {
    width: fit-content;
    align-self: center;

}

