.turnIndicatorContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

//animations start here

.fa-rotate-by {
    animation-name: rotateIndicator;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
}

.fa-rotate-by-reversed {
    animation-name: rotateIndicatorReversed;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* Keep the final state of the animation */
}

@keyframes rotateIndicator {
    from {
        transform: rotate(35deg);
        /* Initial position for Left player's turn */
    }

    to {
        transform: rotate(-35deg);
        /* Final position for Right player's turn */
    }
}

@keyframes rotateIndicatorReversed {
    from {
        transform: rotate(-35deg);
        /* Initial position for Right player's turn */
    }

    to {
        transform: rotate(35deg);
        /* Final position for Left player's turn */
    }
}