@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Marck+Script&display=swap');

html {
  font-size: 62.5%; /* makes font 10px */
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color: #030B15;
  text-align: center;
  padding: 20px;
  margin-top: 0;
  span {
    font-size: 2rem;
  }
}

h3 {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  text-align: center;
}

p {
  font-family: 'Handlee', cursive;
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
}