@media (max-width: 940px) {}


@media (max-width: 768px) {}

@media (max-width: 480px) {
    h1 {
        margin: 0;
    }
    h2 {
        font-size: 2.5rem;
    }
    .middle{
        display: flex;
    .welcome {
        background-color: white;
        
        }
    }

    #leftPersonImage, #rightPersonImage {
        height: 40vh;
        max-width: auto;
    }

    .entirePage {
        display: flex;
        flex-wrap: wrap;
    }
    .startButton {
        margin-top: 20px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    
}
    
        
        
    
    
