.leftSpeechContainer {
  position: relative;
  width: 90%;
  min-height: 70px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 20px auto;
  text-align: center;
  color: #000;
}

.rightSpeechContainer {
  position: relative;
  width: 90%;
  min-height: 70px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 20px 0;
  text-align: center;
  color: #000;
}

// transition effect for speech bubbles
.dissolve-effect {
  opacity: 0;
  transition: opacity 300ms;
}

// adding tails for the speech containers/bubbles by adding psuedo-element by way of :before
.leftTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 31px solid transparent;
  border-bottom: 0px solid transparent;
  left: -35px;
  bottom: 30%;
}

.rightTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #fff;
  border-right: 20px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 30px solid transparent;
  right: -35px;
}

.rightPersonSpeechText, .leftPersonSpeechText {
  margin: 0;
  
  
  
  
}