// is this actually importing?!

// temp background for contrast
body {
  background: #368dda;
}

.leftSpeechContainer {
  position: relative;
  width: 90%;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 20px auto;
  text-align: center;
  color: #000;
}

.rightSpeechContainer {
  position: relative;
  width: 90%;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 60px auto;
  text-align: center;
  color: #000;
}

// need to fix the tails. Positioning them on the sides would work better. Also they currently slide off of the speech bubbles as the page is resized.
.leftTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 5%;
  bottom: -24px;
}

.rightTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 88%;
  bottom: -24px;
}
