
@import 'setup';
@import 'main-styles';
@import 'fonts';
@import 'speechBubbles';


.entirePage {
  display: flex;
  justify-content: space-evenly;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 30%;
  max-width: 50%;
}

.welcome {
  text-align: center;
}

.leftSpeechContainer {
  display: none;
}

.rightSpeechContainer {
  display: none;
}

// .leftPerson {
//   border: 1px solid darkorchid;
// }

// .rightPerson {
//   border: 1px solid seagreen;
// }

// styling the two buttons
.buttonBox {
  text-align: center;
  button {
    background-color: white;
    border: 2px solid rgb(227, 227, 227);
    font-size: 3rem;
    margin-bottom: 10px;
  }
}

.turnIndicator {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rightTurnIndicator {
  display: flex;
}