
@import 'setup';
@import 'fonts';
@import 'speechBubbles';

h3 {
  background-color: papayawhip;
}

.entirePage {
  display: flex;
  justify-content: space-evenly;
}

.middle {
  border: 1px solid red;
}

.speechContainer {
  border: 1px solid rebeccapurple;
}

.leftPerson {
  border: 1px solid darkorchid;
}

.rightPerson {
  border: 1px solid seagreen;
}


