@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Marck+Script&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #9ec0ef;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  background-color: #9ec0ef;
}

h3 {
  background-color: #9ec0ef;
}

h4 {
  background-color: #9ec0ef;
}

.middle {
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.switch {
  display: block;
  margin-top: 10px;
}

html {
  font-size: 62.5%; /* makes font 10px */
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  color: #030B15;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}
h1 span {
  font-size: 2rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
}

h4 {
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  text-align: center;
}

p {
  font-family: "Handlee", cursive;
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
}

.leftSpeechContainer {
  position: relative;
  width: 90%;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 20px auto;
  text-align: center;
  color: #000;
}

.rightSpeechContainer {
  position: relative;
  width: 90%;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  margin: 20px 0;
  text-align: center;
  color: #000;
}

.leftTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 31px solid transparent;
  border-bottom: 0px solid transparent;
  left: -35px;
  bottom: 30%;
}

.rightTail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #fff;
  border-right: 20px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 30px solid transparent;
  right: -35px;
  bottom: 45%;
}

.rightPersonSpeechText, .leftPersonSpeechText {
  margin: 0;
}

@media (max-width: 768px) {
  .leftSpeechContainer,
  .rightSpeechContainer {
    padding: 15px;
    margin: 20px auto;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
  }
}
@media (max-width: 486px) {
  h1 {
    font-size: 2.7rem;
    margin: 0;
  }
  h2 {
    font-size: 1.78rem;
  }
  .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 140%;
    -ms-flex-item-align: center;
        align-self: center;
    position: absolute;
    top: 400px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .leftPersonImage, .rightPersonImage {
    height: 35vh;
  }
  #leftPersonImage, #rightPersonImage {
    height: 25vh;
    max-width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .insultButton, .adviceButton {
    font-size: 1.5rem;
  }
  .entirePage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .startButton {
    margin-top: 20px;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  #adviceButtonBox {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .leftSpeechContainer {
    margin: 0;
    word-wrap: break-word;
  }
  .rightSpeechContainer {
    margin: 20px 0 0 0;
    word-wrap: break-word;
    word-wrap: break-word;
  }
  .buttonBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .turnIndicatorContainer {
    margin-top: 10px;
  }
}
@media (max-width: 349px) {
  .leftPerson, .rightPerson {
    display: none;
  }
  .leftSpeechContainer, .rightSpeechContainer {
    width: 100%;
  }
}
.popup {
  background-color: #ffffff;
  border: 2px solid black;
  width: 450px;
  padding: 0px 40px 30px 40px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  text-align: center;
}
.popup h2 {
  margin-top: 0px;
}

.popup button {
  display: block;
  margin: 0 0 0px auto;
  background-color: transparent;
  font-size: 40px;
  padding-right: 0px;
  padding-top: 20px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.popup button:hover,
.popup button :focus {
  border: none;
  border-radius: 0px;
  color: red;
}

.popup p {
  font-size: 2.2rem;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

.close-popup {
  border: 2px solid;
}

.fa-rotate-by {
  -webkit-animation-name: rotateIndicator;
          animation-name: rotateIndicator;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes rotateIndicator {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes rotateIndicator {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
.entirePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 30%;
  max-width: 48%;
}

.welcome {
  text-align: center;
  justify-self: flex-start;
}

.buttonBox {
  text-align: center;
}

button {
  background-color: white;
  font-size: 3rem;
  border-right: 3px solid #a59eef;
  border-bottom: 3px solid #a59eef;
  border-left: 3px solid #9ee9ef;
  border-top: 3px solid #9ee9ef;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

button:hover,
button:focus {
  border-right: 3px solid #e9ef9e;
  border-bottom: 3px solid #e9ef9e;
  border-left: 3px solid #efcd9e;
  border-top: 3px solid #efcd9e;
  border-radius: 10px;
}

.turnIndicatorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.rightTurnIndicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.switch.on {
  background-color: #5cb85c;
}

.switch.off {
  background-color: #d9534f;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toggleButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 34px;
}

.toggle input {
  display: none;
}

.toggle label {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  /* Add flex property */
  width: 45px;
  /* Set desired width for the toggle label */
  height: 20px;
  /* Set desired height for the toggle label */
  border-radius: 20px;
  /* Adjust border-radius to match height */
  background-color: #ccc;
  cursor: pointer;
}

.toggle label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.toggle input:checked + label {
  background-color: #2196F3;
}

.toggle input:checked + label:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.onoff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switchText p {
  margin: 0 10px;
  font-size: 1.5em;
}

.onoff p {
  position: relative;
}

.onoff p span {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.SwitchText p.glow span {
  -webkit-animation: glowing 2s infinite;
          animation: glowing 2s infinite;
  color: yellow;
}

@-webkit-keyframes glowing {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
  }
  50% {
    opacity: 0.5;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
  }
}

@keyframes glowing {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
  }
  50% {
    opacity: 0.5;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow;
  }
}
.glow {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px yellow, 0 0 80px yellow, 0 0 100px yellow, 0 0 150px yellow;
}